.item{
    width: 95%;
    color: black;
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.line{
    border: 1px solid wheat;
}

.itembutton{
    float:right;
    padding: 1rem 1rem;
    border: none;
    background-color: yellow;
    color: black;
    margin-top: -.5rem;
    cursor: pointer;
}