.item{
    width: 95%;
    color: black;
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.line{
    border: 1px solid wheat;
}

.itembutton{
    float:right;
    padding: 1rem 1rem;
    border: none;
    color: white;
    margin-top: -.8rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
}

.delete{
    background-color: red;
}

.complete{
    background-color: green;
}

.completedMark{
    text-decoration: line-through;
}