.ingredientContainer{
    display: flex;
    padding: .5rem;
    margin-top: .5  rem 0;
    box-shadow: 0px 4px 6px rgba(133, 165, 95, 0.8);
}

.ingredientImage{
    width: 100px;
    height: 100px;
    align-content: center;
    border-radius: 1rem;
}

.ingredientImage img{
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}

.ingredientName{
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: larger;
    font-weight: bold;
}

.ingredientAmount{
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: larger;
    font-weight: bold;
}